
params {
	outdir = './results'
	tracedir = "${params.outdir}/pipeline_info"
}

profiles{

	agendas
	{
		includeConfig 'conf/highResources.config'
		includeConfig 'conf/slurm.config'
		includeConfig 'conf/localConda.config'
	}
	bscStarLife
	{
		includeConfig 'conf/highResources.config'
		includeConfig 'conf/slurm.config'
		includeConfig 'conf/builtSingularity.config'
	}
	local
	{
		includeConfig 'conf/base.conf'
	}
}

timeline {
  enabled = true
  file = "${params.tracedir}/hypermut_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/hypermut_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/hypermut_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/hypermut_dag.svg"
}

