conda.cacheDir = "/g/strcombio/fsupek_home/dmas/nxf_conda_env"

process
{
    withLabel: 'pyClone' {
        conda = "conda_envs/pyClone.yml"
        afterScript = 'set +u; conda deactivate'
    }
    withLabel: 'bedtools' {
        conda = "conda_envs/bedtools.yml"
        afterScript = 'set +u; conda deactivate'
    }
    withLabel: 'bcftools' {
        conda = "conda_envs/bcftools.yml"
        afterScript = 'set +u; conda deactivate'
    }
    withLabel: 'py36' {
        conda = '/g/strcombio/fsupek_home/dmas/ENV/py36'
        afterScript = 'set +u; conda deactivate'
    }
}

