// a profile with high cpu usage

process
{
    withName: formatVCF
    {
        memory = '3 GB'
        time = '1h'
        cpus = '1'
    }
    withName: formatRND
    {
        memory = '3 GB'
        time = '1h'
        cpus = '1'        
    }
    withName: pyClone
    {
        memory = '10 GB'
        time = '24h'
        cpus = '1'
    }
    withName: computeStratification
    {
        memory = '5 GB'
        time = '2h'
        cpus = '1'
    }
    withName: serialize_genome
    {
		time = '240min'
		cpus = 1
		memory = '30 GB'
	}
    withName: randomize
    {
		cpus = 1
		time = '240min'
		memory = '15 GB'
	}
    withName: merge
    {
        cpus = 1
        memory = '500 MB'
    }
}